@import "tailwindcss";

@theme {
  --color-navy: #111827;
  --color-navy-dark: #030712;
  --color-navy-light: #f3f4f6;
  --color-green: #059669;
  --color-green-light: #ecfdf5;
  --font-display: var(--font-comfortaa);
  --font-body: var(--font-comfortaa);
}
